{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Panier{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Votre panier</h1>
    </div>
    {% if items | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Nom du Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{item.commodity.title}}</td>
                        <td>{{item.commodity.price}}€</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.commodity.price * item.quantity}}€</td>
                        <td><a class="btn btn-outline-success" href="{{ path('commodity', {id: item.commodity.id}) }}">
                                    <i class="fas fa-eye mr-2"></i>Voir le produit
                                </a></td>
                        <td><a href="{{ path('cart_remove', {id: item.commodity.id}) }}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total de votre Panier : </td>
                    <td>{{ total }}€</td>
                    {% if app.user %}
                        {% if total >= (app.user.balance + 1) %}
                            <td>Attention, vous n'avez pas assez de sous sur votre compte...</td>                        
                        {% endif %}
                    {% endif %}
                </tr>
            </tfoot>
        </table>
        <p class="text-right">
            <a class="btn btn-outline-success" href="{{ path('purchase_buy', {id: app.user.id}) }}">
                Acheter
                
            </a>
        </p>
    {% else %}
        <p class="text-center">Oops, votre panier semble vide...</p>
        <p class="text-center">Cliquez <a href="{{ path('home') }}">ici</a> pour voir la liste des produits disponibles</a>                   
    {% endif %}


    
{% endblock %}