{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} Utilisateurs{% endblock %}

{% block body %}
    <div class="container">
        <h2>UTILISATEURS</h2>
        <div class="table-responsive mt-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom Prénom</th>
                    <th scope="col">Commerce</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.firstname }} {{ user.lastname }}</td>
                        {% if user.business != null %}
                            <td>{{ user.business.name }}</td>
                        {% else %}
                            <td>N/A</td>
                        {% endif %}
                        <td>
                            <div class="btn-group">
                                <a href="{{ path("admin_user_commands", {id: user.id}) }}" class="btn btn-primary"><i class="fas fa-list"></i></a>
                                <a href="{{ path('admin_user_edit', {id: user.id}) }}" class="btn btn-warning"><i class="fas fa-pen"></i></a>
                                <a href="{{ path('admin_user_delete', {id: user.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
