{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">CONNEXION</h1>
    <p class="font-italic">Vous n'avez pas de compte ? <a href="{{ path("register") }}">Inscrivez-vous</a> dès maintenant.</p>
    <label for="inputEmail">Votre adresse email :</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus placeholder="example@gmail.com">
    <label for="inputPassword" class="mt-3">Votre mot de passe :</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-success mt-4" type="submit">
        <i class="fas fa-sign-in-alt mr-3"></i>Se connecter
    </button>
</form>
{% endblock %}
