{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Accueil{% endblock %}

{% block body %}
    <div class="row">
        <div class="col col-sm-12 col-md-5 col-lg-4 border radius">
            <h1>CATÉGORIES</h1>
            This friendly message is coming from:
        </div>

        <div class="col col-sm-12 col-md-7 col-lg-8 border radius">
            <h2>DENRÉES</h2>
            <div class="row">
                {% for commodity in commodities %}
                <div class="col col-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="card mb-4">
                        <img class="card-img-top" src="https://via.placeholder.com/150" height="200px" alt="Card image cap">
                        {% for business in commodity.business %}
                            <p class="font-italic">{{ business.name }}</p>
                            <p class="font-italic">{{ business.address }}</p>
                            <p class="font-italic">{{ business.phoneNumber }}</p>
                        {% endfor %}
                        <div class="card-body">
                            <h5 class="card-title">{{ commodity.title }}</h5>
                            <p class="card-text">{{ commodity.description }}</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <ul>
                <li>Your controller at <code><a href="{{ '/home/mlarrieu/Ynov/B3/Symfony/no_waste/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
                <li>Your template at <code><a href="{{ '/home/mlarrieu/Ynov/B3/Symfony/no_waste/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
            </ul>
        </div>
    </div>
{% endblock %}
