
    <h3 class="">DENRÉES</h3>
    <div class="row">
            {% for commodity in commodities %}
                <div class="col col-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="card mb-4">
                        <img class="card-img-top" src="{{ commodity.image ? vich_uploader_asset(commodity, 'imageFile') : 'http://placehold.it/300x100' }}" height="200px" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ commodity.title }} <span class="badge badge-primary">{{ commodity.price|number_format(2) }} €</span></h5>
                            <i>Restants : {{ commodity.remaining }}</i>
                            <p class="card-text">{{ commodity.description }}</p>
                            {% if commodity.remaining > 0 %}
                                <a class="btn btn-outline-success" href="{{ path('commodity', {id: commodity.id}) }}">
                                    <i class="fas fa-eye mr-2"></i>Voir le produit
                                </a>
                            {% else %}
                                <button class="btn btn-outline-warning"><i class="fas fa-warning mr-2"></i>Produit indisponible</button>
                            {% endif %}
                            {% for business in commodity.business %}
                            {% if app.user == business.user %}
                            <a href="{{ path('commodity_edit', {slug: business.slug, id: commodity.id}) }}" class="btn btn-warning"><i class="fas fa-pencil mr-2"></i>Modifier</a>
                            <a href="{{ path('commodity_remove', {id: commodity.id}) }}" class="btn btn-danger"><i class="fas fa-trash mr-2"></i>Supprimer</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>