{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} {{ business.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="radius mb-3">
            <img class="" src="{{ business.image ? vich_uploader_asset(business, 'imageFile') : 'http://placehold.it/300x100' }}" alt="Commerce image" style="width: 100%; height: 150px">
            <h4>{{ business.name }}</h4>
            <i>{{ business.address }}<br></i>
            <i>{{ business.phoneNumber }}</i>
            <p>{{ business.description }}</p>
                <div class="btn-group">
                    <a href="{{ path("commodity_add", {slug: business.slug}) }}" class="btn btn-success mr-2"><i class="fas fa-plus mr-2"></i>Ajouter un produit</a>
                </div>
        </div>
    </div>

    <div class="radius">
        {% include '/incs/commodity-list.html.twig' %}
    </div>
{% endblock %}