{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} Dashboard{% endblock %}

{% block body %}
    <h1 class="mb-4">DASHBOARD</h1>
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="alert alert-primary">
                {% if stats.users > 1 %}
                    <h5 class="text-center mb-3">UTILISATEURS INSCRITS</h5>
                {% else %}
                    <h5 class="text-center mb-2">UTILISATEUR INSCRIT</h5>
                {% endif %}
                    <p class="text-center" style="font-size: 23px; font-weight: bold">{{ stats.users }}</p>
            </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="alert alert-danger">
                {% if stats.users > 1 %}
                    <h5 class="text-center mb-3">UTILISATEURS INSCRITS <br> (7 derniers jours)</h5>
                {% else %}
                    <h5 class="text-center mb-2">UTILISATEUR INSCRIT <br> (7 derniers jours)</h5>
                {% endif %}
                <p class="text-center" style="font-size: 23px; font-weight: bold">{{ stats.recents_users }}</p>
            </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="alert alert-warning">
                {% if stats.commands > 1 %}
                    <h5 class="text-center mb-3">COMMANDES EFFECTUÉES</h5>
                {% else %}
                    <h5 class="text-center mb-2">COMMANDE EFFECTUÉE</h5>
                {% endif %}
                <p class="text-center" style="font-size: 23px; font-weight: bold">{{ stats.commands }}</p>
            </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="alert alert-success">
                {% if stats.commands > 1 %}
                    <h5 class="text-center mb-3">COMMANDES EFFECTUÉES<br> (7 derniers jours)</h5>
                {% else %}
                    <h5 class="text-center mb-2">COMMANDE EFFECTUÉE<br> (7 derniers jours)</h5>
                {% endif %}
                <p class="text-center" style="font-size: 23px; font-weight: bold">{{ stats.recents_commands }}</p>
            </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="alert alert-primary">
                <h5 class="text-center mb-3">CHIFFRE D'AFFAIRE</h5>
                <p class="text-center" style="font-size: 23px; font-weight: bold">{{ stats.totaux }} €</p>
            </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="alert alert-secondary">
                <h5 class="text-center mb-3">CHIFFRE D'AFFAIRE<br> (7 derniers jours)</h5>
                <p class="text-center" style="font-size: 23px; font-weight: bold">{{ stats.recents_totaux }} €</p>
            </div>
        </div>
    </div>
{% endblock %}
