<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand" href="{{ path('home') }}">NO WASTE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('business') }}">Commerces<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-4">
            {% if app.user %}
                <li class="nav-item">
                        <a class="btn btn-light" href="{{ path('cart_index') }}">Panier<i class="fas fa-shopping-cart mr-1"></i></a>
                    </li>
                <li class="nav-link"><span class="badge badge-warning">{{ user.balance|number_format(2) }} €</span></li>
            <li class="nav-item dropdown mr-4">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.firstname }} {{ user.lastname }}
                </a>
                <div class="dropdown-menu bg-secondary mr-4" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('profile') }}">Profil</a>
                    {% if user.business != null %}
                        <a href="{{ path('business_detail', {id: user.business.id}) }}" class="dropdown-item">Mon commerce</a>
                    {% else %}
                        <a href="{{ path('business_add') }}" class="dropdown-item">J'ai un commerce</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item" href="{{ path('admin') }}">Administration</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{{ path('login') }}" class="nav-link">Connexion</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>