{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ commodity.title }}{% endblock %}

{% block body %}
    <div class="container p-4">
        <img class="card-img-top" src="{{ commodity.image ? vich_uploader_asset(commodity, 'imageFile') : 'http://placehold.it/300x100' }}" height="200px" alt="Card image cap">
        <h3>{{ commodity.title }} <span class="badge badge-primary">{{ commodity.price|number_format(2) }} €</span></h3>
        <p class="font-italic">Restants : {{ commodity.remaining }}</p>
        <p>{{ commodity.description }}</p>
        {% if app.user %}
            <a href="{{ path('cart_add', {'id': commodity.id}) }}" class="btn btn-success float-right">
                <i class="fas fa-shopping-cart mr-1"></i>
                     Ajouter
            </a>
        {% else %}
            <a href="{{ path('login') }}" class="btn btn-secondary">Connectez-vous pour ajouter ce produit à votre panier</a>
        {% endif %}
    </div>
{% endblock %}
