{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Mon profil{% endblock %}

{% block body %}
    <div class="container">

    {% set is_current_user = app.user == user %}
    <section class="row my-4 mb-3">
        <div class="col col-4 col-sm-5 col-md-3 col-lg-3">
            <img class="img-fluid"
                 src="{{ user.avatar ? vich_uploader_asset(user, 'avatarFile') : 'http://placehold.it/300x300' }}"
                 alt="Avatar">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-danger mt-2" href="{{ path('admin') }}"><i class="fas fa-user"></i></a>
            {% endif %}
        </div>
        <div class="col col-8 col-sm-7 col-md-9 col-lg-9">
            <h2>{{ user.firstname }} {{ user.lastname }}</h2>
            <p>{{ user.email }}</p>
            {% if is_current_user %}
                <a class="btn btn-warning" href="{{ path('user_edit', {id: user.id}) }}"><i class="fas fa-pencil mr-2"></i>Editez votre profil</a>
                <br>
                <a class="btn btn-sm btn-danger mt-2" href="{{ path('logout') }}"><i
                            class="fas fa-power-off mr-2"></i>Déconnexion</a>
            {% endif %}
        </div>
        <div class="mt-3 ml-3">
            <h4>MES COMMANDES EFFECTUÉES</h4>
            {% if commands.count == 0 %}
                <h5>Aucune commande effectuée</h5>
            {% else %}
                <h5>{{ commands.count }} commande{% if commands.count > 1 %}s{% endif %} effectuée{% if commands.count > 1 %}s{% endif %}</h5>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">N. commande</th>
                                <th scope="col">Date</th>
                                <th scope="col">Total</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for command in commands %}
                            <tr>
                                <th scope="row">{{ command.nbCommand }}</th>
                                <td>{{ command.createdAt|date('d-m-y') }}</td>
                                <td>{{ command.total }} €</td>
                                <td><a href="{{ path('command', {id: command.id}) }}" class="btn btn-primary"><i class="fas fa-eye"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
        <div class="mt-3 ml-3">
        {% if user.business != null %}
            <h4 class="mt-4">{% if is_current_user %}MON COMMERCE{% else %}COMMERCE{% endif %}</h4>
            <div style="width: 100%">
                <div class="card w-100 radius">
                    <img class="card-img-top" src="{{ business.image ? vich_uploader_asset(business, 'imageFile') : 'http://placehold.it/300x100' }}" alt="Commerce image" style="width: 100%; height: 150px">
                    <div class="card-body">
                        <h5 class="card-title">{{ business.name }}</h5>
                        <i>{{ business.address }}<br /></i>
                        <i>{{ business.phoneNumber }}</i>
                        <p class="card-text mt-2">{{ business.description }}</p>
                        <div class="btn-group">
                            <a class="btn btn-primary mr-2" href="{{ path('business_detail', {id: business.id}) }}"><i class="fas fa-list mr-2"></i>Voir les produits </a>
                            {% if is_current_user %}
                                <a href="{{ path('business_edit', {id: business.id}) }}" class="btn btn-warning"><i class="fas fa-pencil mr-2"></i>Gestion du commerce</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>

    </section>
    </div>

    {#    <section>#}
{#        {% if is_current_user %}#}
{#            <h3>Mes jeux</h3>#}
{#        {% else %}#}
{#            <h3>Les jeux de {{ user.firstname }}</h3>#}
{#        {% endif %}#}
{#        <table class="table">#}
{#            <thead>#}
{#            <tr>#}
{#                <th scope="col">Jeux</th>#}
{#                {% if is_current_user %}#}
{#                    <th scope="col">Action</th>#}
{#                {% endif %}#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for game in user.games %}#}
{#                <tr>#}
{#                    <td>#}
{#                        <a href="{{ path('game_details', { id: game.id }) }}">{{ game.name }}</a>#}
{#                    </td>#}
{#                    <td>#}
{#                        {% if is_current_user %}#}
{#                            <a href="{{ path('game_edit', { id: game.id }) }}" class="btn btn-warning"><i#}
{#                                        class="fas fa-pen"></i></a>#}
{#                        {% endif %}#}
{#                    </td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </section>#}
{% endblock %}
